# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases e Logs
local_database/
.logs/
*.log
lavalink.log

# Configurações sensíveis (NUNCA envie para o GitHub)
.env
config.json

# Ambiente Virtual
venv/
env/
.venv/

# Arquivos temporários do Sistema
.tempjar/
*.tmp

# Java (Lavalink será baixado ou rodado pelo Docker)
Lavalink.jar
application.yml
auto_lavalink.ini
